<% if @toggle == 'true' %>
	<hr>
	<div class="container">
		<%= erb :phone_carousel %>	
	</div>
<% end %>

<hr>
<div class="container">
	<img class="storefront img-thumbnail" src="/images/storefront_fb.jpg">
</div>
<hr>
<div class="container content">
	<iframe id="map" width="800px" height="600px" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ252F75mJwokReq832rz4690&key=AIzaSyAvyaFLY83k0EzvdbvuaQwgkM9Fb_Ei0q4" allowfullscreen></iframe>
</div>
<hr>
<footer id="footer">
	<div class="container">
		<h2>Contact:</h2>
		<ul class="list-group">
			<li class="list-group-item"><span class="bold">Telephone:</span> 516-466-9100</li>
			<li class="list-group-item"><span class="bold">Fax:</span> 516-466-9200</li>
			<li class="list-group-item"><span class="bold">Email:</span> vzgreatneck@gmail.com</li>
			<li class="list-group-item"><span class="bold">Location:</span> 67 Middle Neck Road, Great Neck, NY 11021</li>
		</ul>
	</div>
	<div class="container">
		<h2>Hours:</h2>
		<ul class="list-group">
			<li class="list-group-item"><span class="bold">Monday - Thursday:</span> 10am - 8pm</li>
			<li class="list-group-item"><span class="bold">Friday:</span> 10am - 6pm</li>
			<li class="list-group-item"><span class="bold">Sunday:</span> 10am - 6pm</li>
		</ul>
	</div>
	<div class="copyright">
		<ul class="list-group">
			<li class="list-group-item"><span> &copy; 2016 Michael Craig Gabay. All rights reserved.</span></li>
			<li class="list-group-item"><span>Images: &copy; 2009 Verizon Wireless. All rights reserved.</span></li>
		</ul>
	</div>
</footer>