html {
	background-color: #CF0608;
}
img {
	width: 100%;
	height:auto;
}
.jumbotron {
	height:20vh;
	padding:0;
	background:white;
	.img-thumbnail {
		height:20vh;
		width: auto;
		float:left;
		border:0;
	}
	h1 {
		font-size: 8vh;
		height:100%;
		text-align: center;
		float:left;
	}
	&:hover {
		color:#CF0608;
	}
}
#map {
	width:90%;
	height:75vh;
}
#carousel {
	clear:both;
	width:100%;

}