// Looks better in landscape than portrait on most devices.
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
html {
	background-color: #CF0608;
	font-family: 'Lato', sans-serif;
}
img {
	width: 100%;
	height:auto;
}
.navbar {
	background:white;
	.navbar-text{
		padding-right: 2%;
		color:#CF0608;
	}
	& > .container-fluid > .collapse > .navbar-nav {
		border-top: 2px solid #CF0608;
		& > li:hover{
			border-bottom: 2px solid #CF0608;
		}
	}
}

#map {
	padding:10px;
	width:90%;
	height:75vh;
	margin-left:auto;
	margin-right:auto;
	display: block;
}
#carousel {
	padding:10px;
	height:400px;
	width: 90%;
	margin-left:auto;
	margin-right:auto;
	border: 5px #CF0608;

	.carousel-indicators {
		display: inline-block;
		li {
			border-color: #CF0608;
			.active {
				background: #CF0608 !important;// Not overriding bootsrap! 
			}	
		}
	}
	.carousel-control {
		background: rgba(0,0,0,.1);
		color:#CF0608;
	}
	.item {
		margin-top: 10px;
		img {
			width:223px;
			height:243px;
			margin:auto;
		}
		p {
			text-align: center;
			width:223px;
			margin-right: auto;
			margin-left:auto;
			font-size: 18px;
			.maker {
				font-weight: bold;
			}
			.model {
				color:#CF0608;
				font-weight: bolder;
			}
		}
	}
}
.storefront {
	height: auto;
	width:90%;
	margin-left:auto;
	margin-right:auto;
	padding:10px;
	display: block;
}
.container {
	width:100%;
}
footer {
	background: #CF0608;
	.container{
		width:50%;
		height:auto;
		float:left;
		background-color: #F6F6F6;
	}
	.copyright {
		height: auto;
		width:50%;
		clear:both;
		margin: auto;
		text-align: center;	
	}
}
.bold {
	font-weight: bold;
}

.form {
	max-width: 50%;
	margin: 0 auto;
	margin-bottom: 10px;
}
